{
  "presets": [
    ["env", {
      "targets": {
        "node": "7.6"
      }
    }],
    "stage-2"
  ],
  "plugins": [ "transform-runtime" ],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "rewire" ]
    }
  }
}
